{{ define "content" }}
<h1>Login</h1>
<br />
<form method="POST">
    Email: <input type="text" name="email" autofocus>
    Password: <input type="password" name="password">
    <button type="submit">Go!</button>
</form>
{{ end }}
