{{define "content"}}
<h1> You're in the Dashboard </h1>
<table align=center>
    <tr>
        <th>Username/Email</th>
        <th>Role</th>
    </tr>
    {{ range .Users }}
        <tr>
            <td>{{.Email}}</td>
            <td>{{.Role}}</td>
        </tr>
    {{end}}
</table>
<h2><a href="/logout">log out</a></h2>        
{{end}}
